body {margin:0px; /*background: url('https://raw.githubusercontent.com/GanstFeveral/GanstFeveral/master/top.jpg'); background-repeat: no-repeat; background-position: top;*/}
html {overflow-x: hidden; overflow-y: scroll;}
a {color:#0384fc; text-decoration: blink; font-weight:normal;}
a:hover {color:#f54a6d; text-decoration: underline;}

.content {display: none;}
.content.active {display: block;}

.soc-x::before {
	content: '';
	display: inline-block;
	width: 12px; /* Ширина логотипа */
	height: 12px; /* Высота логотипа */
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px; /* Отступ между логотипом и текстом ссылки */
	}

.soc-tel::before {
	content: '';
	display: inline-block;
	width: 14px; /* Ширина логотипа */
	height: 14px; /* Высота логотипа */
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5px; /* Отступ между логотипом и текстом ссылки */
	}

.soc-x::before {
    background-image: url('https://raw.githubusercontent.com/GanstFeveral/ganstfeveral.github.io/master/icons/twitter-x.png');
}

.soc-tel::before {
    background-image: url('https://raw.githubusercontent.com/GanstFeveral/GanstFeveral/master/icons/telegram.png');
}


/* Стиль кнопки */
.back-to-top {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 30px;
	background: #0384fc6e;
	opacity: 0;
	transition: opacity 0.5s ease, pointer-events 0s ease 0.5s;
	cursor: pointer;
	z-index: 1000;
	pointer-events: none; /* Отключаем клики по умолчанию */
	display: flex;
	align-items: flex-end; /* Располагаем стрелку внизу */
	justify-content: center; /* Центрируем стрелку по горизонтали */
}

#backToTop:hover {background:#f54a6d75;}

/* Появление кнопки при скролле */
.back-to-top.visible {
	opacity: 1;
	pointer-events: auto; /* Включаем клики при видимости */
	transition: opacity 0.5s ease, pointer-events 0s;
}

/* Стиль стрелки */
.arrow {
	color: white;
	font-size: 50px;
	margin-bottom: 10px; /* Отступ снизу для стрелки */
	user-select: none; /* Отключаем выделение текста */
}

#main-menu a:hover {text-decoration: underline;}
#main-menu a.active {text-decoration: none !important; cursor: default; color:#f54a6d;}
.element::-webkit-scrollbar { width: 0;}
#main-menu a.active {color: #f54a6d;}
#main-menu {
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size:35px;
	font-style: bold;
	text-align: center;
	padding: 5px 0px 10px 0px;
	border-bottom: 2px solid #f54a6d;
	color: #bdbdbd;
	}

#left-column {width:457px; height: 500px; overflow: hidden;}
#left-list {height: 450px; overflow-y: scroll; width: 474px;}

.grey {color:#a0a0a0;}
.grey-mini {color:#a0a0a0; font-size:10px;}

.pop-block {
	position: fixed;
	background: #ffffff;
	padding: 0px 10px 0px 10px;
	right: 10px;
	bottom: 10px;
	border-left: 2px solid #e0e0e0;
	box-shadow: 0px 0px 30px #ffffff, 0px 0px 30px #ffffff, 0px 0px 30px #ffffff, 0px 0px 30px #ffffff, 0px 0px 30px #ffffff;
	}

.pop-block p {font-size:12px; line-height: 1.0; margin: 5px 5px 5px 0px;}

#pop-checkbox {
  display: none;
}
#pop-checkbox:checked + .pop-block {
  visibility: hidden; /*чтобы освободить занимаемое место - display: none;*/}

span.twitter {padding: 0px 25px 0px 25px;}
.twitter-logo {width:14px;}
	
#main {display: block; padding: 0px 15px 20px 15px;}

#top {
	text-align: center;
	overflow: hidden;
	}

	
.tab {overflow: hidden;}

.tab button {
	background-color: inherit;
	/*float: left;*/
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 24px;
	font-family: russo one;
	color: #f650cc;
	}

.tab button:hover {background-color: #ffe3f8;}
.tab button.active {background-color: #ffeafa;}

.tabcontent {
	border: 0px solid #ccc;
	border-top: none;
	max-width: 1000px;
	border-radius: 30px;
	margin: auto;
	text-align: left;
	}

.tabcontent {animation: fadeEffect 0s;}

@keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}

p {
	font-family: Tahoma, sans-serif;
	font-weight: normal;
 	font-size: 16px;
	line-height: 1.4;
	color: #000000;
	}
	
h2 {
	font-family: "Yanone Kaffeesatz", sans-serif;
  	font-size: 30px;
	font-weight: normal;
  	color: #f54a6d;
  	text-decoration: none;
	margin: 0px;
	}
	
h3 {
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 20px;
 	margin: 0px;
 	color: #a0a0a0;
	font-weight: normal;
	}

h4 {border-bottom: 2px solid #ff92e4; margin: 10px 0px 10px 0px;}
h5 {border-bottom: 2px solid #e0e0e0; margin: 10px 0px 10px 0px;}
	
#kontent {text-align: center; max-width: 100%;}
#kontent::-webkit-scrollbar {width:0px;}

.short {color:#acacac;}
.serial {color:#0000ff;}
.anime {color:#ff9900;}
.anime-movie {color:#e06666;}
.mult {color:#ff00ff;}
.mult-serial {color:#9900ff;}
.mult-short {color:#9b7ccc;}
.doc {color:#00bcd4;}
.manga {color:#00cc8b;}
.game {color:#ff0000;}

#kontakti {
	padding: 10px 0px 0px 0px;
	margin: auto;
	overflow: hidden;
	text-align:center;
	}
	
#kontakti img {height: 35px; transition: all 0.2s ease-out; padding: 2px 7px 0px 7px; opacity: 70%;}
#kontakti img:hover {transform: scale(1.2); opacity:100%;}
